# Ignore all files and directories in parent directories
../*

# Ignore these files
TestCases/
output.csv
uncategorized.txt
categorization_rules.json

# Keep the current directory
!./

# Ignore virtual environment directly (if applicable)
venv/

# Ignore python cache files
__pycache__/

# Ignore log files and temporary files
*.log
*.tmp